*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.icon{
    cursor: pointer;
}

.place{
    font-size:14px;
}

label{
    color: blue;
    font-size: 13px;
    border-bottom: 1.5px solid darkblue;
    margin:3px 0px;
}

.descr{
    font-size: 13px;
}

.star{
    color: goldenrod;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: gray;
}

form{
    width:250px;
    height:250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input,textarea{
    border:none;
    border-bottom: 1px solid gray;
    outline:none;
}

input::placeholder,textarea::placeholder{
    font-size:12px;
    color:lightgray;

}


.submitButton{
    border:none;
    padding: 5px;
    border-radius: 10px;
    color:white;
    background-color: rgb(253, 123, 100);
    
}

.submitButton:hover{
    background-color: tomato;
    cursor: pointer;
    
}