.register_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:300px;
    height: 250px;;
    padding:20px;
    border-radius:10px;
    background-color: whitesmoke;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}

.application{
    color:slateblue;
    display: flex;
    align-items: center;
    margin-bottom:10px;
    font-weight: 700;
}

.register_button{
    border:none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightgray;
    font-weight: 800;
}

.register_button:hover{
    background-color: rgb(255, 255, 255);
}

input{
    padding:2px;
    outline: none;
    background-color: whitesmoke;
    color: rgb(50, 50, 185);
}

.register_cancel{
    position: absolute;
    top:5px;
    right:5px;
    cursor: pointer;
}